APP_NAME="Vite + Plain PHP"
APP_URL=http://localhost:8000

VITE_BASE=/
VITE_APP_NAME="${APP_NAME}"

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=inventaris
DB_USERNAME=root
DB_PASSWORD=root
